*{
    box-sizing: border-box;
    
}
@font-face {
  font-family: 'lifecraft';
  font-style: normal;
  font-weight: normal;
  src: local('lifecraft'), url('LifeCraft_Font.ttf') format('ttf');
}

.wowschrift{
  font-family: 'Lifecraft';
  color: black;
  font-size: 50px;
 
}
h1{
    text-decoration: underline;
}    
/* CSS für den Hintergrund */
body{
    background-image: url(../img/wallpaper-shadowlands-zerschmetterter-himmel.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;   
}
/* CSS für die Navbar */
.bg-light{
  background-color:rgb(218, 190, 127) !important ;
}
.container-fluid{
    background-color: rgb(218, 190, 127);
    margin-top: 5px;    
}
.topbar-responsive-button {
    color: #fefefe;  
    border-color: rgb(218, 190, 127);  
    border-radius: 5000px;      
    transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.reg{
    color: black;  
}
.log{
   color: black;      
} 
.row{ 
    width: 99vw;
    height: auto;    
}
/* CSS für den Footer */
.siteprogress {
  margin-top: 20%;
}
.logo {
    width: 50%;
    height: auto;
    margin-left: 27%;
    margin-top: 50px;        
}
/* CSS für die News */
.inhalt{
  height:auto;
}
.ba{
    border: solid;
    background-color: burlywood;
    background-color: transparent 50%;
    float :left ;
    margin-bottom: 25px;
    padding: 20px;
    padding-top: 0;
  }
.BaÜberschriften{
    font-size: 2.5em;
    color: black;
    text-decoration: underline black;    
}
@media(max-width:50em){
  .BaÜberschriften{ font-size: 2em;}
  .txtba{display: inline-block;}
  .imgba{margin: 0px;}
}

.imgba{   
    border:solid;
    margin-right: 10px;
    width: 250px;
    height: 200px;
    float: left; 
}
/* CSS Für Dungeon */
.Dungeonboss{
  border: black solid;
  
}
  /* Css Für DoS */
  .baDoS{
    border: solid;
    background-color: burlywood;
    background-color: transparent 50%;
    float :left ;
    margin-bottom: 25px;
    padding: 20px;
    
  }
/* CSS für guide1 */
#inbearbeitung{
  font-size: 2em;
  font-weight: bolder;
  margin-top: 20%;
  color: black;
  text-align: center;
  
}
/* CSS Für Raid */
  /* CSS für Worldbosse */
  .zusammenfassungworldboss{
    font-weight: bolder;
  }

/* CSS für Bildergalerie */
.Galleriefenster{
  border: solid;
  background-color: burlywood;
  margin-top: 5%;
  
  padding: 5px;
} 
.img-thumbnail{
  border-color: #44BCDD;
  height: 200px;
  width: auto;
}
.img-thumbnail:hover{
  border: 8px solid red ;
  box-shadow: 2px 2px 5px red ;
}
/* CSS Für Impressum */
.textimp{
  padding-left: 15px; 
}
.h2imp{
  text-decoration: underline;
}
/* CSS Für Anmeldung */
.anmeldung{
  border: solid;
  background-color: burlywood;
  margin: 0 auto;
  margin-top: 15%;
  width: 410px;
  height: 725px;
}
.anmeldefenster{
  border:  thin solid black;
  background-color: black;
  color: white;
  text-align: center;
}
.anmeldefenster2{
margin-left: 10px;
}
#senden{
  margin-left: 165px;
}
#länder{
  width: 175px;
}
#bundesländer{
  width: 175px;
}
#phone_home::-webkit-outer-spin-button ,
#phone_home::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#phone_mobil::-webkit-outer-spin-button ,
#phone_mobil::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#phone_home::-webkit-outer-spin-button ,
#phone_home::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#Adresse_hausnummer::-webkit-outer-spin-button ,
#Adresse_hausnummer::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#Adresse_plz::-webkit-outer-spin-button ,
#Adresse_plz::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* CSS für Login */
.loginfenster{
    border: solid;
    background-color: burlywood;
    margin: 0 auto;
    margin-top: 15%;
    width: 315px;
    height: 285px;
}
.loginfenster1{
    border:  thin solid black;
    background-color: black;
    color: white;
    text-align: center;
}
.loginfenster2{
  margin-left: 10px;
}
#email{
    margin-left: 22px;
}
.senden{
    margin-left: 120px;
}
.passwordvergessen{
    font-size: 12px;
}
/* CSS Für fertigen Footer */
.fixbottom{
  margin-top: 20%;
}
footer {
  background: #16222A;
  background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
  background: linear-gradient(59deg, #3A6073, #16222A);
  color: white;
  margin-top:100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  padding-left: 50px;
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}
/*SOCİAL İCONS*/
/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}
/* footer social icons */
.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}
.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}
.social-network a.icoGithub:hover {
  background-color: #007bb7;
}
.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}
.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}
.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}
.social-network a {
  background-color: #F9F9F9;
}
