*{
    box-sizing: border-box;
    
}
h1{
    text-decoration: underline;
}
body{
    background-image: url(../img/wallpaper-shadowlands-zerschmetterter-himmel.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;     
}

.container-fluid{
    background-color: rgb(218, 190, 127);
    position: fixed;
    margin-top: 25px;
}
.footer{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.row{ 
    width: 99vw;
    height: auto;
}

.ba1{
    border: solid;
    background-color: burlywood;
    background-color: transparent 20%;
}

.überschrift1{
    position: fixed;
    text-align: center;
    
}
.logo {
    width: 50%;
    height: auto;
    margin-left: 27%;        
}

.topbar-responsive-button {
    color: #fefefe;  
    border-color: rgb(218, 190, 127);  
    border-radius: 5000px;      
    transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.trennlinie {
    background-color: rgb(246, 244, 81);
}

